<!-- layout.njk -->
<!DOCTYPE html>
<html lang="en">
	{% include "_head.njk"%}
	<body id="page-top">
		{% include "_navigation.njk" %}		
		<!-- Write code for this content block in another file -->
		{% block content %} 
		{% endblock %}		
		{% include "_footer.njk"%}
		 <!-- Plugin JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Bootstrap core JavaScript -->
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Contact form JavaScript -->
		<script src="js/jqBootstrapValidation.min.js"></script>
		<script src="js/contact_me.js"></script>
		<!-- Custom scripts -->
		<script src="js/agency.min.js"></script>
		<script src="lib/typed.min.js" type="text/javascript"></script>
		<script src="lib/isotope.pkgd.min.js"></script>
		<script src="js/AbhiScripts.min.js" type="text/javascript"></script>
	</body>
</html>