<!-- layout.njk  -->
<!DOCTYPE html>
<html lang="en">
	{% include "_head_nested.njk"%}
	<body id="page-top">
		{% include "_navbar_project.njk" %}
		<section class="" >
			<div class="container">
				<div class="row">
					<div class="col-lg-10 mx-auto">
						{% block content %}
							<!-- Write code for this content block in another file -->
						{% endblock %}
					</div>
				</div>
			</div>
		</section>
		{% include "_footer.njk"%}
		<!-- Javascript sources -->
		<!-- Plugin JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Bootstrap core JavaScript -->
		<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Contact form JavaScript -->
		<script src="../js/jqBootstrapValidation.min.js"></script>
		<script src="../js/contact_me.js"></script>
		<!-- Custom scripts -->
		<script src="../js/agency.min.js"></script>
		<script src="../lib/typed.min.js" type="text/javascript"></script>
		<script src="../lib/isotope.pkgd.min.js"></script>
		<script src="../js/AbhiScripts.min.js" type="text/javascript"></script>
				<script>
			if ('loading' in HTMLImageElement.prototype) {
			// Native lazyloading supported
				const images = document.querySelectorAll('img[loading="lazy"]');
				images.forEach(img => {
					img.src = img.dataset.src;
				});
			} else {
				// Dynamically import the LazySizes library, since native lazyloading was not available
				const script = document.createElement('script');
				script.src = 'https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js';
				document
					.body
					.appendChild(script);
			}
		</script>
	</body>
</html>