<!-- Footer -->
    <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Based off the Agency
            Template, using <a href="http://getbootstrap.com/">Bootstrap</a> </span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/abhiagrahari">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/AbhinavA10">
                <i class="fa fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              By: Abhinav Agrahari
            </li>
            <li class="list-inline-item">
              <a href="#">Back To Top</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>