<!-- maintenance.njk -->
{% extends "layout.njk" %}
{% block content %}
    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text landing-smaller">
                <!-- reduced size of this landing portion -->
                <div class="intro-lead-in"></div>
                <div class="intro-heading text-uppercase">
                    <p>404 - Page not found</p>
                </div>
            </div>
        </div>
    </header>
    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Uh oh.</h2>
                    <p class=" text-muted">The page you are looking for could not be found.
                    <br> If you think the link that brought you here should work, you can email me at <a
                        href="mailto:abhi.agrahari@uwaterloo.ca?Subject=Portfolio-Website broken link">abhi.agrahari@uwaterloo.ca</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}