// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #f45f28;
  border-color: #f45f28;
  &:active,
  &:focus,
  &:hover {
    background-color: #f24d11 !important;
    border-color: #f24d11  !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(244, 95, 40, 0.5) !important;
  }
}

.btn-portfolio-filter { 
  background-color: white;
  border-color: black;
  padding: 12px 16px;
  &:hover { // when you hover over the button
    background-color: #f45f28;
  }
  &:active{ // this is when you click on the button
    background-color: #f24d11;
    color: white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(244, 95, 40, 0.5) !important;
  }
}
.btn-portfolio-filter-active{ // to show which filter is currently being applied
  background-color: #f24d11;
}