// Styling for the navbar
// for small screens
#mainNav {
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
  background-color: transparent; // hsl(220, 12%, 18%);
  transition: 500ms ease; // to smoothly change colour of navbar
  .navbar-toggler {
    // 'MENU' hamburger button, when at the top of the page
    font-size: 90%;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: black;
    border: 0;
    background-color: transparent;
    @include heading-font;
  }
  .navbar-brand {
    // name in top left corner
    @include heading-font;
    font-size: 90%;
    font-weight: bold;
    color: white;
    opacity: 0;
  }
  .project-back-bar{
    @include heading-font;
    font-size: 120%;
    font-weight: bold;
    color: black;
    opacity: 1;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: black;
        @include heading-font;
        &.active,
        &:hover {
          color: white;
        }
      }
    }
  }
  &.navbar-shrink {
    // when scrolled down
    background-color: $gray-900;
    .nav-item {
      .nav-link {
        color: white;
        &.active,
        &:hover {
          color: #ff5c33;
        }
      }
    }
    .navbar-brand {
      opacity: 1;
      &.active,
      &:focus,
      &:hover {
        color: #3399ff;
      }
    }
    .navbar-toggler {
      // Menu hamburger button, when scrolled down
      color: white;
    }
  }
}
//large screen
@media (min-width: 992px) {
  #mainNav {
    padding-top: 16px;
    padding-bottom: 16px;
    .navbar-brand, .project-back-bar {
      font-size: 1.25em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-weight: bold;
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $gray-900;
      .nav-item {
        .nav-link {
          font-weight: 400;
          color: white;
        }
      }
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
